@use '../abstracts/variables';

// background color
.bg-darkblue {
    background-color: variables.$color-darkblue;
}

.bg-red {
    background-color: variables.$color-red;
}

// section padding
section{
    padding-top: 60px;
    padding-bottom: 60px;
}