.article{
   .container{
      max-width: 1066px;

      .image{
         background: rgba(#E2E2E2, 0.39);
      }
   }

   .half-bg{
      background: url(../images/article/bg-half.png) no-repeat;
      background-size: 60% 100%;

      @media (max-width: 991px){
         background: none;
      }
   }
}