.banner{
   .banner-top{
      padding: 7px 0;
      p{
         font-family: gotham-book;
         font-size: 22px;

         @media (max-width: 767px){
            font-size: 18px;
         }
      }
   }


   .banner-bottom{
      padding: 15px 0;
      @media (max-width: 767px){
         padding: 10px 0;
      }

      h4{
         font-family: gotham-bold;
         font-size: 40px;
         color: #fff;

         @media (max-width: 767px){
            font-size: 28px;
         }
      }
   }
}